<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
    accusamus commodi distinctio laudantium blanditiis rerum at, quasi eveniet
    excepturi saepe eligendi quia voluptatem, perspiciatis, minima recusandae
    dignissimos officia dolore error? Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Ducimus nobis perspiciatis dignissimos aliquid molestias
    reprehenderit harum fuga vel laborum, in nihil corporis natus, cum maxime
    aperiam saepe consectetur iure sunt.
  </p>
</div>

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input [type]="inputType" [value]="inputValue" />
<progress max="100" [value]="age"></progress>

<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>{{ 3 + 3 }}</p>

<p>Hola, mi nombre es {{ name }} y tengo {{ age }}</p>
